<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag veterans_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".veteran_name") -%>：</label>
        <%= text_field_tag 'veteran_name', @veteran_name, class: 'form-control' -%>
      </div>
      <div><%= submit_tag t(".search"), class: 'btn btn-primary' %></div>
    <% end -%>


    <div class="row mt-2">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t(".table.user_avatar") -%></th>
                <th><%= t(".table.user_name_and_status") -%></th>
                <th><%= t(".table.last_position") -%></th>
                <th><%= t(".table.heart_rates") -%></th>
                <th><%= t(".table.step_counts") -%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= image_tag user.user_picture_url, width: "120px" %>
                  </td>
                  <td>
                    <%= user.user_name %>
                    <br />
                    
                    <span class="badge badge-pill badge-primary"><%= user.user_status -%></span>
                  </td>
                  <td>
                    <% last_position = user.positions.last %>
                    <% if last_position.present? %>
                      <%= last_position.longitude -%>, <%= last_position.latitude -%>
                      <br />
                      <%= last_position.created_at -%>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td>
                    <% last_heart_rate_history = user.heart_rate_histories.last %>
                    <% if last_heart_rate_history.present? %>
                      <%= last_heart_rate_history.heartbeat_per_minute -%> 次/分钟
                      <br />
                      <%= last_heart_rate_history.meature_time -%>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td>
                    <% last_step_count = user.step_counts.last %>
                    <% if last_step_count.present? %>
                      <%= last_step_count.step_count -%>，近似 <%= last_step_count.calculated_calories -%> 卡路里
                      <br />
                      <%= last_step_count.created_at -%>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
