<div class="weapp">
  <div class="jumbotron vote-item-banner">
    <div class="container text-center">
      <h4>智慧养老监控系统</h4>
    </div>
  </div>

  <div class="container">
    <div class="card w-100">
      <div class="card-body">
        <h6><%= @user.user_name -%></h6>
        <div class="text-center avatar-img">
          <%= image_tag @user.user_picture_url, class: "img-thumbnail border-0", size: "100" %>
        </div>
      </div>
    </div>
    <div class="card w-100">
      <div class="card-body">
        <% last_position = @user.positions.last %>
        <% last_heart_rate_history = @user.heart_rate_histories.last %>
        <% last_step_count = @user.step_counts.last %>
        <h6>人员当前情况：</h6>
        <p class="text-left mt-3">最后位置：<%= last_position.longitude -%>, <%= last_position.latitude -%></p>
        <p class="text-left">心率：<%= last_heart_rate_history.heartbeat_per_minute -%> 次/分钟</p>
        <p class="text-left">步行状态：<%= last_step_count.step_count -%>，近似 <%= last_step_count.calculated_calories -%> 卡路里</p>
      </div>
    </div>
  </div>
</div>
